<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Spring MVC y Thymeleaf</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Hola</h1>
        <p th:text="${mensaje}"></p>
        <p th:text="${variable}"></p>
        <!-- en un jsp
        <p>${mensaje}</p>
        expression Language
        
        Thymelaf
        <p th:text="${mensaje}"></p>
        -->
        <div th:if="${personas !=null and !personas.empty}">
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
            <tr th:each=" p: ${personas}">
                <td th:text="${p.nombre}">Mostrar el nombre</td>
                <td th:text="${p.apellido}">Mostrar el apellido</td>
                <td th:text="${p.email}">Mostrar el email</td>
                <td th:text="${p.telefono}">Mostrar el Telefono</td>
            </tr>
        </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            No hay personas registradas.
        </div>
    </body>
</html>
